html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: sans-serif;
  line-height: 1.4;
}

body a {

display: inline-block;
color: #ecf0f1;
text-decoration: none;

}

.button {
  margin: 0 auto 20px;
  width: 200px;
  border-radius: 3px;
  text-align: center;
  clear: both;
  padding: 10px;
  background-color: #667481;
  cursor: pointer;
}

.screen {
  opacity: 0;
  visibility: hidden;
  
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.screen-intro {
  opacity: 1;
  visibility: visible;
}
